/*
Theme Name: Gutener Charity NGO
Theme URI: https://keonthemes.com/downloads/gutener-charity-ngo
Author: Keon Themes
Author URI: https://keonthemes.com
Description: Gutener Charity NGO is clean, creative, powerful, flexible, highly customizable and Gutenberg ready WordPress theme. It is fully responsive and is sure to make your website stand out from the crowd. Gutener Charity NGO is a multipurpose theme suitable for any type of WordPress sites such as Charity, NGO, Fundraising, Welfare, Donation, Helping Hands, Non-profit Organization and preferably ideal for any type of sites. Gutener Charity NGO is highly customizable with powerful theme options including multiple Header and Footer layouts. Compatibility for WordPress Classic editor, WooCommerce and Gutenburg makes easier for users. Want a theme to play your site in a myriad of roles your search ends here. Browse the demos to see that its the only theme you will ever want: https://demo.keonthemes.com/gutener
Version: 1.0.7
Requires PHP: 5.5
Tested up to: 5.6
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: gutener
Text Domain: gutener-charity-ngo
Tags: blog, portfolio, news, grid-Layout, one-column, two-columns, three-columns, flexible-header, left-sidebar, right-sidebar, custom-background, custom-colors, custom-logo, custom-menu, featured-images, footer-widgets, full-width-template, post-formats, rtl-language-support, theme-options, sticky-post, threaded-comments, translation-ready, block-styles, wide-blocks

Gutener Charity NGO WordPress Theme is child theme of Gutener, Copyright 2020 Keon Themes
Gutener Charity NGO is distributed under the terms of the GNU General Public License v3

Gutener Charity NGO is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/

a:hover,
a:active,
a:focus {
	text-decoration: none;
}

.slick-control li.prev, .slick-control li.feature-posts-prev, .slick-control li.header-slider-prev {
    left: 40px;
}

.slick-control li.next, .slick-control li.feature-posts-next, .slick-control li.header-slider-next {
    right: 40px;
}

/*slick slider css*/
.slick-dots li {
    height: auto;
    width: auto;
    list-style: none;
    margin: 0 3px;
}
.slick-dots li button {
    background-color: transparent;
    border: 1px solid #868686;
    font-size: inherit;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
    padding: 0;
}